onestoptruecrime.css

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}


#wrapper {
    width: 500%;
    margin: 0 auto;
}

header {
    background-image: url('truecrime.jpg');
    background-size: cover;
    text-align: center;
    padding: 20px 0;
    color: #f0f0f0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ol {
    list-style-type: none;
    padding: 0;
    color: #21ff21;
}


nav ul li {
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-image: url('cursor.jpg');
    color: red;
    font-weight: bold;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #fff;
}

centerTable {
    margin: 0px auto; 

}

h2 {
    color: red;
    border: 3px solid #FF0000;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 20px 0;
   text-align: center;
 }

h3 {
    color: black;
    font-size: 36px;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 20px 0;
   text-align: center;
   background-color: yellow;

 }


main img {
  display: block;
  margin: 0 auto; 
}
a:link {
  color: black;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}

@media (min-width: 800px) {
    #wrapper {
        width: 80%;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        padding: 10px 20px;
    }
}